# These owners will be the default owners for everything in the repo.
# They will be added as reviewers for PR related to configuration files.
*       @cedoor @sripwoud

# When someone opens a pull request that only modifies specific packages,
# only the following users and not the default owners defined above will be
# requested for a review.
/packages/binary-merkle-root/ @cedoor @vplasencia
/packages/ecdh/ @0xjei @ctrlc03
/packages/poseidon-cipher/ @ctrlc03
/packages/poseidon-proof/ @cedoor @vplasencia @0xjei
/packages/utils/ @0xjei
/packages/lazytower/ @LCamel
