# These owners will be the default owners for everything in the repo.
# They will be added as reviewers for PR related to configuration files.
*       @vplasencia

# When someone opens a pull request that only modifies specific packages,
# only the following users and not the default owners defined above will be
# requested for a review.
/packages/binary-merkle-root/ @vplasencia
/packages/ecdh/ @ctrlc03
/packages/poseidon-cipher/ @ctrlc03
/packages/poseidon-proof/ @vplasencia
/packages/utils/ @ctrlc03
/packages/lazytower/ @LCamel
